@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap');

body{
  margin: 0;
  padding: 0;
  background: #1a1a1a;
  background-size: cover;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
header{
  position: fixed/*relative*/;
  max-width: 5000px;
  margin: 20px auto;
  padding: 10px;
  background: #404040;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  z-index: 9999;
}
.logo{
  height: 60px;
  font-size: 36px;
  color:  #ffffff;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
nav{
  float: right;
}
.clearfix{
  clear: both;
}
nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
}
nav ul li a.active{
  color: #000000;
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 5000px) {
  header{
    position: sticky;
    margin: 20px;
  }
}
@media (max-width: 1050px) {
  .menu-toggle{
    position: sticky;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
  }
  .menu-toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before{
    content: '\f00d';
  }
  nav{
    display: none;
  }
  nav.active{
    display: block;
    width: 100%;
  }
  nav.active ul{
    display: block;
  }
  nav.active ul li a{
    margin: 0;
  }
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section .scroll{
  width: 100%;
  display: flex;
}
section .scroll div{
  color: #000000;
  font-size: 4em;
  background: #ffffff;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}
section .scroll div:nth-child(2){
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}
section .scroll div span{
  -webkit-text-stroke: 2px #000000;
  color: transparent;
}
@keyframes animate{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes animate2{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-200%);
  }
}
section .scroll.text1{
  transform: rotate(30deg) translateX(-200px) translateY(200px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
section .scroll.text2{
  transform: rotate(-25deg) translateX(-200px) translateY(120px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
section .scroll.text3{
  transform: rotate(30deg) translateX(-200px) translateY(300px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
section .scroll.text4{
  transform: rotate(-2deg) translateX(-200px) translateY(-150px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
section .scroll.text5{
  transform: rotate(5deg) translateX(-200px) translateY(250px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
